@model OpenEMR.Models.Pegawai

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pegawai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIK" class="control-label"></label>
                <input asp-for="NIK" class="form-control" />
                <span asp-validation-for="NIK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalLahir" class="control-label"></label>
                <input asp-for="TanggalLahir" class="form-control" />
                <span asp-validation-for="TanggalLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempatLahir" class="control-label"></label>
                <input asp-for="TempatLahir" class="form-control" />
                <span asp-validation-for="TempatLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisKelamin" class="control-label"></label>
                <select asp-for="JenisKelamin" class="form-control" asp-items="@(new SelectList(ViewBag.JenisKelamin, "ID", "Name"))">
                    <option value="">-- Select Status Pernikahan --</option>
                </select>
                <span asp-validation-for="JenisKelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlamatRumah" class="control-label"></label>
                <input asp-for="AlamatRumah" class="form-control" />
                <span asp-validation-for="AlamatRumah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomorTeleponPribadi" class="control-label"></label>
                <input asp-for="NomorTeleponPribadi" class="form-control" />
                <span asp-validation-for="NomorTeleponPribadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomorTeleponDarurat" class="control-label"></label>
                <input asp-for="NomorTeleponDarurat" class="form-control" />
                <span asp-validation-for="NomorTeleponDarurat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlamatEmailPribadi" class="control-label"></label>
                <input asp-for="AlamatEmailPribadi" class="form-control" />
                <span asp-validation-for="AlamatEmailPribadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusPernikahan" class="control-label"></label>
                <select asp-for="StatusPernikahan" class="form-control" asp-items="@(new SelectList(ViewBag.StatusPernikahan, "ID", "Name"))">
                    <option value="">-- Select Status Pernikahan --</option>
                </select>
                <span asp-validation-for="StatusPernikahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
